### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
song = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print(song.count("row"))

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
name = input("Enter a name. ")
animal = input("Enter an animal. ")
color = input("Enter a color. ")

Enter a name.Kat
Enter an animal.rabbit
Enter a color.blue

In [3]:
print(f"{name} had a little {animal}. \nIt was {color} as snow. \nAnd everywhere that {name} went, the {animal} was sure to go.")

Kat had a little rabbit.
It was blue as snow.
And everywhere that Kat went, the rabbit was sure to go.

3. Print 3.14159 in a scientific number notation

In [4]:
no1 = 3.14159
print(f"{no1:.5e}")

3.14159e+00

4. Print 3.1559 in 3 decimal places

In [5]:
no2 = 3.1559
print(f"{no2:.3f}")

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [6]:
no3 = 1589.92341
print(f"{no3:e}")

1.589923e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [7]:
_0 = 39 % 2
print(_0)

1

In [8]:
_1 = 39 // 2
print(_1)
_1 = _1 % 2
print(_1)

19
1

In [9]:
_2 = 19 // 2
print(_2)
_2 = _2 % 2
print(_2)

9
1

In [10]:
_3 = 9 // 2
print(_3)
_3 = _3 % 2
print(_3)

4
0

In [11]:
_4 = 4 // 2
print(_4)
_4 = _4 % 2
print(_4)

2
0

In [12]:
_5 = 2 // 2
print(_5)
_5 = _5 % 2
print(_5)

1
1

In [13]:
_6 = 1 // 2
print(_6)

0

In [14]:
print("0b100111")
print(bin(39))

0b00100111
0b100111

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [15]:
_0 = 39 % 8
print(_0)

7

In [16]:
_1 = 39 // 8
print(_1)
_1 = _1 % 8
print(_1)

4
4

In [17]:
_2 = 4 // 8
print(_2)

0

In [18]:
print("0o47")
print(oct(39))

0o47
0o47

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [19]:
_0 = 39 % 16
print(_0)

7

In [20]:
_1 = 39 // 16
print(_1)
_1 %= 16
print(_1)

2
2

In [21]:
_2 = 2 // 16
print(_2)

0

In [22]:
print("0x27")
print(hex(39))

0x27
0x27

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [23]:
amount = float(input("What is the amount?"))
tax_rate = float(input("What is the tax rate in percentage?"))
tax_rate /= 100
tax_amount = amount * tax_rate
total = amount + tax_amount
print(f"The amount is ${amount}, the tax rate is {tax_rate:.2%}, the tax amount is ${tax_amount:,.2f}, and the total is ${total:,.2f}.")

What is the amount?100
What is the tax rate in percentage?2.75
The amount is $100.0, the tax rate is 2.75%, the tax amount is $2.75, and the total is $102.75.